<script lang="ts">
  import type { ActionData } from "./$types";
  import Form2 from "$components/elements/Form2.svelte";
  import Center from "$components/elements/Center.svelte";

  export let form:ActionData;

  function messageClose(){
    form = null;
  }
</script>

<div class="login">
  <Center>
    <Form2 {form} title="Register" action="register" {messageClose}>
      <p>Do you have an account? <a href="/login">Log in</a></p>
    </Form2>
    </Center>
</div>


<style lang="scss">
  .login{
    background-color: $color-lightest-grey;
  }
</style>