<script lang="ts">
  import '$src/styles/global.scss';
  import { page } from '$app/stores';
  import { handleSession } from '@lucia-auth/sveltekit/client';

  handleSession(page);
</script>

<main>
  <slot />
</main>

<style lang="scss">

</style>
