<script>
  import { getUser } from '@lucia-auth/sveltekit/client';
  import Center from '$components/elements/Center.svelte';

  const user = getUser();
  const userId = $user?.userId;

  $: loggedIn = true ? userId : false;
</script>

<main>
  <Center height="80vh">
    <div class="text">
      <h1>Up$hot</h1>
      <p><em>Manage your finance fast & easy</em></p>
      <br />
      <div class="links">
        {#if loggedIn}
          <a href="/login"> Follow to your account </a>
        {:else}
          <a href="/login"> Login </a>
          <a href="/signup"> Register </a>
        {/if}
      </div>
    </div>
  </Center>
</main>

<style lang="scss">
  @mixin background-opacity($color, $opacity: 0.3) {
    background: $color; /* The Fallback */
    background: rgba($color, $opacity);
  }
  h1 {
    font-size: 50px;
  }

  .text {
    text-align: center;
    color: $color-very-dark-blue;
    padding: 30px;
    border-radius: 8px;
    @include background-opacity($color-light-grey, 0.5);
  }

  .links {
    display: flex;
    justify-content: space-around;
  }

  main {
    height: 100vh;
    background: url('/images/background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
</style>
