<script lang="ts">
  import { getUser } from '@lucia-auth/sveltekit/client';
  import type { PageData } from './$types';
  import type { TagObject } from '$src/lib/scripts/other';
  import TagManager from '$components/elements/TagManager.svelte';
  import TransactionManager from '$components/elements/TransactionManager.svelte';
  import AccountManager from '$components/elements/AccountManager.svelte';
  import Container from '$components/elements/Container.svelte';

  export let data: PageData;
  const user = getUser();
  const userId = $user?.userId;

  /**Array containg all user tags*/
  let possibleUserTags: TagObject[] = data.tags;

  /**Makes an GET API request to fetch tags*/
  async function fetchTags() {
    console.log('Fetched tags called');
    const url: string = `/api/user/${userId}/tags`;
    const response = await fetch(url);
    if (response.ok) {
      possibleUserTags = await response.json();
    }
  }
</script>

<Container>
  <div class="manager">
    <h1>Manage your transactions:</h1>
    <div class="split">
      <AccountManager {possibleUserTags} />
      <TagManager tags={possibleUserTags} {fetchTags} />
    </div>
    <TransactionManager {possibleUserTags} />
  </div>
</Container>

<style lang="scss">
  .split {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
  .manager {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  h1 {
    color: $color-very-dark-blue;
  }
</style>
