<script lang="ts">
  import { getUser } from '@lucia-auth/sveltekit/client';
  import { goto } from '$app/navigation';
  import Container from '$components/elements/Container.svelte';
  import Button from '$components/elements/Button.svelte';
  import ExportFile from '$components/elements/ExportFile.svelte';

  const user = getUser();
  const userId = $user?.userId;

  async function deleteAccount() {
    if (confirm('Are you sure you want to delete your user account?')) {
      console.log('Deleting user account');
      const url = `/api/user/${userId}/delete`;
      const response = await fetch(url, {
        method: 'DELETE',
        headers: {
          accept: 'application/json'
        }
      });
      if( response.ok){
        goto('/login');
      }
    } else {
      console.log('User account deletion cancelled');
    }
  }
</script>

<div class="settings--margin">
  <Container>
    <div class="settings">
      <h1>Settings</h1>
      <div>
        <h2>Delete user account</h2>
        <p>
          Deleting your account is non-returnable action, your account and all of the data
          associated with will be deleted
        </p>
        <br />
        <Button submit={true} on:click={deleteAccount}>Delete</Button>
      </div>

      <div>
        <h2>Export saved accounts</h2>
        <p>Accounts and tags you have assigned to them will be exported into .csv file</p>
        <br />
        <ExportFile />
      </div>
    </div>
  </Container>
</div>

<style lang="scss">
  .settings {
    display: flex;
    flex-direction: column;
    display: flex;
    align-items: flex-start;
    gap: 20px;
    &--margin {
      margin: 30px;
      margin-top: 90px;
    }
  }
  h1,
  h2 {
    color: $color-very-dark-blue;
  }
</style>
