$color-white: #fff;
$color-lightest-grey: #f5f5f5;
$color-light-grey: #f1f1f1;
$color-light-grey-2: #ececec;
$color-very-dark-grey: #383838;
$color-black: #000000;

$color-light-bluish-grey: #b6bcc5;
$color-bluish-grey: #8f9ab6;
$color-bluish-grey-2: #8591b1;

$color-light-blue: #e6edff;
$color-blue: #345bfb;
$color-dark-blue: #1414FD;
$color-very-dark-blue: #2c2e4b;
$color-red: #ff0001;
$color-orange: #ff5c00;

$color-green: #32c270