<!-- This layouts add navbar to the /user and all of its pages -->
<header>
  <nav>
    <ul>
      <li><a href="/">Upshot</a></li>
      <li><a href="/user">Dashboard</a></li>
      <li><a href="/user/transactions">Manage</a></li>
      <li><a href="/user/analyze">Analyze</a></li>
      <li><a href="/user/settings">Settings</a></li>
    </ul>
  </nav>
</header>
<main>
  <slot />
</main>

<style lang="scss">
  header {
    background-color: $color-white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 20px 0 $color-black;
    z-index: 999;
  }
  header * {
    display: inline;
  }
  header li {
    margin: 5px;
}

main{
  margin-top: 60px;
}
</style>
