<script lang="ts">
  import { getUser } from '@lucia-auth/sveltekit/client';
  import { enhance } from '$app/forms';
  import type { PageData, ActionData } from './$types';
  import Form from '$components/elements/Form.svelte';
  import Button from '$components/elements/Button.svelte';
  import Message from '$components/elements/Message.svelte';
  import Container from '$components/elements/Container.svelte';
  import FileInput from '$components/elements/FileInput.svelte';

  export let data: PageData;
  export let form: ActionData;

  // used for resetting the file input
  type resetter = {reset: Function}
  let resetTransactionsInput:resetter;
  let resetAccountsInput:resetter;

  const user = getUser();

  function messageClose() {
    form = null;
  }
</script>

<div class="intro--margin">
  <Container>
    <div class="intro">
      <h1 class="intro__title">Hi {$user?.username},</h1>

      <Form method="post" action="?/signout">
        <Button submit={true}>Sign out</Button>
      </Form>

      <div class="intro__stats">
        <h2>Stats</h2>
        <div>Your account currently has {data.transactions.length} transactions</div>
        <div>Your account currently has {data.tags.length} tags</div>
        <div>Your account currently has {data.accounts.length} accounts</div>
      </div>
      <!-- use:enhance is required when importing files -->
      <form
        use:enhance
        method="post"
        action="?/importTransactions"
        on:submit={() => {
          resetTransactionsInput.reset();
        }}
      >
        <h2>Import transactions</h2>
        <p>
          Import transactions from .csv file (Psss, you can add transactions manually when you click
          on manage transactions:)
        </p>
        <FileInput inputId="bank-transcript" bind:reset={resetTransactionsInput} />
      </form>
      <!-- use:enhance is required when importing files -->
      <form
        use:enhance
        method="post"
        action="?/importAccounts"
        on:submit={() => {
          resetAccountsInput.reset();
        }}
      >
        <h2>Import accounts</h2>
        <p>Import accounts from .csv file</p>
        <FileInput inputId="account-list" bind:reset={resetAccountsInput} />
      </form>

      <div class="intro__links">
        <Button width="500"><a href="/user/transactions">Manage Transactions</a></Button>
        <Button width="500"><a href="/user/analyze">Analyze Transactions</a></Button>
      </div>
    </div>
  </Container>
</div>

{#if form?.visible}
  <Message onClose={messageClose} error={form?.error}>
    <span>{form?.message}</span>
  </Message>
{/if}

<style lang="scss">
  .intro {
    display: flex;
    flex-direction: column;
    gap: 20px;
    &--margin {
      margin: 30px;
      margin-top: 90px;
    }
    &__title {
      color: $color-very-dark-blue;
      justify-self: center;
      text-align: center;
    }
    &__stats {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
    &__links {
      display: flex;
      justify-content: space-around;
    }
  }
  h2 {
    color: $color-very-dark-blue;
  }
</style>
