<script lang="ts">
  import { getUser } from '@lucia-auth/sveltekit/client';
  import { onMount } from 'svelte';
  import type { AccountObject, TagObject } from '$src/lib/scripts/other';
  import Account from '$components/elements/Account.svelte';
  import Form from '$components/elements/Form.svelte';
  import Input from '$components/elements/Input.svelte';
  import Button from '$components/elements/Button.svelte';
  import Container from '$components/elements/Container.svelte';

  const user = getUser();
  const userId = $user?.userId;

  /**Array containing all user accounts*/
  let accounts: AccountObject[] = [];
  /**Account object used for account creation*/
  let newAccount: AccountObject = { id: -1, name: '', number: '' };
  /**All tags belonging to the user*/
  export let possibleUserTags: TagObject[];

  onMount(() => {
    fetchAccounts();
  });

  /**Makes GET API request fetching accounts*/
  async function fetchAccounts() {
    const url: string = `/api/user/${userId}/accounts`;
    const response = await fetch(url);
    if (response.ok) {
      accounts = await response.json();
    }
  }

  /**Makes POST API request to create a new account*/
  async function createAccount() {
    const url: string = `/api/user/${userId}/accounts`; //api url
    const response = await fetch(url, {
      method: 'POST',
      body: JSON.stringify(newAccount)
    });
    if (response.ok) {
      newAccount = { id: -1, name: '', number: '' };
      fetchAccounts();
    }
  }
</script>
<!-- @component
This component serves as a container for user accounts
- contains form for new account creation
 -->

<Container backgroundColor='#f5f5f5'>
  <h2 class="manager__title">Account Manager:</h2>
  <div class="manager__items">
    {#each accounts as account (account.id)}
      <Account {account} {possibleUserTags} />
    {/each}
  </div>
  <br />
  <Container>
    <Form on:submit={createAccount}>
      <h3>Create a new account</h3>
      <Input label="Name:" bind:value={newAccount.name} required={true} />
      <Input label="Number:" bind:value={newAccount.number} required={true} />
      <Button submit={true}>Create</Button>
    </Form>
  </Container>
</Container>

<style lang="scss">
  .manager {
    &__title {
      margin-bottom: 10px;
    }

    &__items {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }

  h2,
  h3 {
    color: $color-very-dark-blue;
  }
</style>
