<script lang="ts">
  import { getUser } from '@lucia-auth/sveltekit/client';
  import type { AccountObject } from '$src/lib/scripts/other';
  import Form from '$components/elements/Form.svelte';
  import Input from '$components/elements/Input.svelte';
  import Button from '$components/elements/Button.svelte';

  const user = getUser();
  const userId = $user?.userId;

  /**The account to edit*/
  export let account: AccountObject;
  const name = account.name
  /**Function called after editing -> typically used to fetch changes from db*/
  export let doAfter = (accountId: number) => {};
  /**Function to toggle visibility of the edit window*/
  export let toggle = () => {};
  /**Makes PUT API request to edit the current account*/
  async function editAccount() {
    const url: string = `/api/user/${userId}/accounts`;
    const response = await fetch(url, {
      method: 'PUT',
      body: JSON.stringify({
        id: account.id,
        name: account.name,
        number: account.number
      })
    });
    if (response.ok) {
      toggle();
      doAfter(account.id);
    }
  }
</script>
<!-- @component
This component contains form for account editing
 -->

<div class="edit">
  <h1>Edit account: {name}</h1>
  <Form on:submit={editAccount}>
    <Input label="Account name:" bind:value={account.name} required={true} />
    <Input label="Account number:" bind:value={account.number} required={true} />
    <div class="split">
      <Button submit={true}>Edit</Button>
      <Button on:click={toggle}>Cancel</Button>
    </div>
  </Form>
</div>

<style lang="scss">
  .edit {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
</style>
