<script lang="ts">
  import type { AccountObject } from '$src/lib/scripts/other';
  import type { TagObject } from '$src/lib/scripts/other';
  import { compareTagsArray } from '$src/lib/scripts/other';
  import { clickOutside } from '$lib/scripts/frontendActions';
  import OverlayWindow from './OverlayWindow.svelte';
  import TagArea from '$components/elements/TagArea.svelte';
  import Dropdown from '$components/elements/Dropdown.svelte';
  import CloseEdit from '$components/elements/CloseEdit.svelte';
  import AccountEdit from '$components/elements/AccountEdit.svelte';

  /**Account object to display*/
  export let account: AccountObject;
  /**Array of all user tags*/
  export let possibleUserTags: TagObject[];
  /**Array of tags assigned to the current account*/
  let tags: TagObject[];
  /**Array of tags which may be added to the current account (possibleTagsToAdd = possibleUserTags - tags)*/
  let possibleTagsToAdd: TagObject[];
  let editingAccount = false;
  /**Used as reference when removing element from DOM*/
  let nodeRef: HTMLElement;

  $: {
    // tags are filtered out of possibleUserTags to unify possibleUserTags on the whole page
    // utilized when tag is edited -> it changes everywhere
    tags = possibleUserTags.filter(({ id }) => account.tags.map((tag) => tag.tagId).includes(id));
    possibleTagsToAdd = compareTagsArray(possibleUserTags, tags);
  }

  function toggleEditWindow() {
    editingAccount = !editingAccount;
  }

  /**Makes an DELETE API request to delte current account*/
  async function deleteAccount() {
    const url: string = `/api/account/${account.id}`;
    const response = fetch(url, {
      method: 'DELETE',
      body: JSON.stringify({
        id: account.id
      })
    });
    // removes the account on frontend
    nodeRef.parentNode.removeChild(nodeRef);
  }

  /**Makes an PUT API request to form new n to n connection between the current account and chosen tag*/
  async function tagAssignment(tag: TagObject, assign: Boolean) {
    const url: string = `/api/account/${account.id}/tags`;
    const response = await fetch(url, {
      method: 'PUT',
      body: JSON.stringify({ tagId: tag.id, assign })
    });
    if (response.ok) {
      fetchItself();
    }
  }

  /**Makes an GET API request to fetch the current accout (used for updates)*/
  async function fetchItself() {
    const url: string = `/api/account/${account.id}`; //TODO this api route does not exist
    const response = await fetch(url);
    if (response.ok) {
      account = await response.json();
    }
  }
</script>
<!-- @component
This component displays account and tags assigned to it
- contains button to delete the account
- contains button to edit the account
 -->

<div bind:this={nodeRef} class="account">
  <div class="account__details">
    <span>Name: <b>{account.name}</b></span>
    <span>Number: <b>{account.number}</b></span>
  </div>
  <div class="account__tags">
    <TagArea {tags} removeTagFromDB={tagAssignment} />
    <Dropdown items={possibleTagsToAdd} doAfterSelect={tagAssignment} />
  </div>
  <CloseEdit onClose={deleteAccount} onEdit={toggleEditWindow} />
</div>

{#if editingAccount}
  <div use:clickOutside on:outclick={() => toggleEditWindow()}>
    <OverlayWindow toggle={toggleEditWindow}>
      <AccountEdit {account} doAfter={fetchItself} toggle={toggleEditWindow} />
    </OverlayWindow>
  </div>
{/if}

<style lang="scss">
  .account {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: $color-light-blue;
    border-radius: 8px;
    padding: 10px;
    &__details {
      display: flex;
      flex-direction: column;
      height: auto;
      gap: 2px;
    }
    &__tags {
      display: flex;
      padding-bottom: 5px;
    }
  }
</style>
