<script lang="ts">
  /**Background color of the button*/
  export let color: string = '#345bfb';
  /**Minimal width of the button*/
  export let width: string = '100px';
  /**Minimal height of the button*/
  export let height: string = '30px';
  /**True if the button is of type submit*/
  export let submit: boolean = false;
</script>
<!-- @component
This component creates a button with default styling
- available customization:
  - width
  - height
  - background color
  - type (submit/button)
 -->
<button
  on:click
  class="button"
  style="--button-width: {width}; --button-height: {height}; --button-background-color: {color}"
  type={submit ? `submit` : `button`}
>
  <slot />
</button>

<style lang="scss">
  .button {
    height: var(--button-height);
    line-height: var(--button-height);
    width: var(--button-width);
    text-align: center;
    display: grid;
    align-items: center;
    justify-content: center;
    appearance: none;
    outline: none;
    border: none;
    font-size: 15px;
    transition: 0.1s ease all;
    background-color: $color-blue;
    color: $color-white;
    border-radius: 8px;
    &:hover {
      background-color: $color-light-blue;
      color: $color-blue;
      cursor: pointer;
    }
    &:focus{
      border: 2px solid $color-dark-blue;
    }
  }
</style>
