<script lang="ts">
    /**Width of the area where insides should be centered, don't forget to include units*/
    export let width:string = '100wh'
    /**Height of the area where insides should be centered, don't forget to include units*/
    export let height:string = '100vh'
</script>
<!-- 
@component
Centers its inside in the middle of the area specified by width and height
 -->
<div style="--width: {width}; --height: {height}">
    <slot/>
</div>

<style lang="scss">
div {
    width: var(--width);
    height: var(--height);
    display: flex;
    justify-content: center;
    align-items: center;
}
</style>