<script lang="ts">
  import Chart from '$components/elements/Chart.svelte';
  import Container from '$components/elements/Container.svelte';
  /**Promise of chart data*/
  export let chartData;
  /**Type of the chart (see more at https://www.chartjs.org/docs/latest/)*/
  export let chartType:'doughnut'|'bar'|'line'|'area'|'pie'|'radar';
  /**Title of the chart*/
  export let title: string;
  /**Options how to display the chart*/
  export let options = '';
</script>
<!-- @component
This component is used for handling async chart data, after the data is fetched & processed the chart is displayed
- it also creates container with title around the chart
 -->
{#await chartData}
  <p>...loading chart</p>
{:then chartProcessed}
  <div>
    <Container backgroundColor='#f5f5f5'>
      <h3>{title}</h3>
      <Chart {chartType} chartData={chartProcessed} {options}/>
    </Container>
  </div>
{:catch error}
  <p style="color: red">{error.message}</p>
{/await}

<style lang="scss">
  h3 {
    color: $color-very-dark-blue;
  }
</style>
