<script lang="ts">
  import { Chart, registerables } from 'chart.js';
  import { onMount } from 'svelte';
  // This is required for chart to be displayed
  Chart.register(...registerables);
  /**Type of the chart (see more at https://www.chartjs.org/docs/latest/)*/
  export let chartType:'doughnut'|'bar'|'line'|'area'|'pie'|'radar';
  /**Data of the chart (each chart type requires different data structure)*/
  export let chartData;
  /**Options how to display the chart*/
  export let options:object = {};
  let chartElement: HTMLCanvasElement;
  let config = {
      type: chartType,
      data: chartData,
      options: options
    };

  onMount(() => {
    // creating chart into canvas
    new Chart(chartElement, config);
  });
</script>
<!-- @component
This component uses charts.js library to create a chart
 -->

<div>
  <canvas bind:this={chartElement} />
</div>

<style lang="scss">
  canvas {
    width: auto;
    height: auto;
  }
</style>
