<script lang="ts">
  import Icon from '$components/elements/Icon.svelte';
  import { fade } from 'svelte/transition';
  /**Handles edit icon click*/
  export let onEdit = () => {};
  /**Handles close/delete icon click*/
  export let onClose = () => {};
</script>
<!-- @component
This component holds edit and close icon which are displayed in div next to each other
 -->
<div>
  <span on:click={onEdit} on:keypress transition:fade={{ duration: 200 }} class="click">
    <Icon icon="edit" hoverColor="#00FF00" on:click />
  </span>
  <span on:click={onClose} on:keypress transition:fade={{ duration: 200 }} class="click">
    <Icon icon="cross" hoverColor="#FF0000" on:click />
  </span>
</div>

<style lang="scss">
  div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 55px;
    height: auto;
    position: absolute;
    z-index: 1;
    right: 10px;
  }
  .click{
    &:hover{
      cursor: pointer;
    }
  }
</style>
