<script lang="ts">
  /**Background color of the container, default value:'#ececec'*/
    export let backgroundColor:string = '#ececec';
</script>
<div class="container" style="--color:{backgroundColor}">
  <slot />
</div>
<!-- @component
This componet serves as container
- rounded corners, padding, background color
- background color might by specified
 -->

<style lang="scss">
  .container {
    background-color: var(--color);
    border-radius: 8px;
    padding: 30px;
    margin: 0px;
  }
</style>
