<script lang="ts">
  import type { TagObject } from '$src/lib/scripts/other';
  import Tag from '$components/elements/Tag.svelte';
  import Button from '$components/elements/Button.svelte';

  /**Array of tags which user can choose from*/
  export let items: TagObject[];
  /**Function which handles tag assignemnt in db*/
  export let doAfterSelect = (tagToAdd: TagObject, assign: boolean) => {};

  let selected: TagObject = { id: -1, name: '' };
  let selecting: boolean = false;
  $: display = selected.name == '' ? 'Choose tag' : selected.name;

  function chooseTag(tagId: number) {
    selecting = false;
    selected = items.find((x) => x.id == tagId);
    doAfterSelect(selected, true);
    selected = { id: -1, name: '' };
  }

  function toggleSelecting() {
    selecting = !selecting;
  }
</script>
<!-- @component
This component works as dropdown menu.

On click it will display tags which are possible to add to the current object
Dropdown is closed when either tag is chosen or it is clicked on again
 -->
<div class="dropdown">
  <Button width="" height="30px" on:click={toggleSelecting}>{display}</Button>
  {#if selecting}
    <div class="dropdown__items">
      {#each items as item}
        <span
          on:click={() => chooseTag(item.id)}
          on:keydown={() => chooseTag(item.id)}
          class="dropdown__item"
        >
          <Tag color={item.color} deletable={false}>{item.name}</Tag>
        </span>
      {/each}
      {#if items.length == 0}
        <span>No tags to add</span>
      {/if}
    </div>
  {/if}
</div>

<style lang="scss">
  .dropdown {
    border-radius: 4px;
    display: flex;
    align-items: center;
    padding: 2px;
    position: relative;
    &:hover {
      cursor: pointer;
    }
    &__items {
      padding: 10 0 10 0px;
      background-color: $color-white;
      border-radius: 8px;
      position: absolute;
      z-index: 50;
      width: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      top: 20px;
    }
    &__item {
      padding: 5px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 5px;
      &:hover {
        background-color: $color-light-blue;
        cursor: pointer;
      }
    }
  }
</style>
