<script lang="ts">
  import Button from './Button.svelte';
  import { getUser } from '@lucia-auth/sveltekit/client';

  const user = getUser();
  const userId = $user?.userId;

  /**Fetches file for the user to download using GET API*/
  async function download() {
    const fetchUrl: string = `/api/user/${userId}/download`;
    let response = await fetch(fetchUrl, {
      method: 'GET'
    });
    let blob = await response.blob();
    var url = window.URL || window.webkitURL;
    let link = url.createObjectURL(blob);

    // generate anchor tag, click it for download and then remove it again
    let a = document.createElement('a');
    a.setAttribute('download', `exportedAccounts.csv`);
    a.setAttribute('href', link);
    document.body.appendChild(a);
    a.click();
    document.body.removeChild(a);
  }
</script>
<!-- This component creates a button which generates download link -->
<Button on:click={download}>Export</Button>
