<script lang="ts">
  import Button from '$components/elements/Button.svelte';
  /**Name and id of the input field, used for labels and for form handling*/
  export let inputId: string;
  /**List of files chosen by the user, used for displaying the file name*/
  let importedFiles: FileList;
  let input: HTMLInputElement;

  type resetter = {reset: Function}
  /**Used for resseting the file input into default state (removing previously chosen file name)*/
  export const  reset:resetter = {
    // reseting was inspired by https://svelte.dev/repl/56ce5554135f4610b2f3168cf3e60b5e?version=3.55.0
     reset() {
      input.value = '';
    }
  };
</script>

<!-- @component
This components creates a custom input form field
- it is styled using the label technique by Ben Marshall (https://www.benmarshall.me/styling-file-inputs/)
 -->

<div class="fileInput">
  <input
    type="file"
    id={inputId}
    name={inputId}
    accept=".csv"
    bind:files={importedFiles}
    bind:this={input}
    required
  />
  <label for={inputId}>
    {#if importedFiles && importedFiles[0]}
      {importedFiles[0].name}
    {:else}
      Choose a file
    {/if}
  </label>
  <Button submit={true}>Import</Button>
</div>

<style lang="scss">
  .fileInput {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 10px;
  }

  [type='file'] {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    white-space: nowrap;
    width: 1px;

    + label {
      background-color: $color-bluish-grey-2;
      border-radius: 12px;
      padding: 7px;
      overflow: hidden;
      border: none;
      color: #fff;
      display: inline-block;
      transition: all 0.3s;
      vertical-align: middle;
    }
    &:focus + label,
    + label:hover {
      // File upload hover state button styles
      cursor: pointer;
      background-color: darken($color-light-blue, 30%);
    }
  }
</style>
