<script lang="ts">
  import { enhance } from '$app/forms';
  import Input from '$components/elements/Input.svelte';
  import Button from '$components/elements/Button.svelte';
  import Message from '$components/elements/Message.svelte';

  /**FormAction element - includes the response of the server, used to display messages to the user*/
  export let form;
  /**Specifies for which action should server listen to*/
  export let action: string;
  /**Name of the form*/
  export let title: string;
  /**Function which handles message close*/
  export let messageClose = () => {};
</script>

<div class="form">
  <!-- @component
This component creates simple form used for log in and register of the user
- includes 2 fields (password, username)
- slot is used to include links to different pages
 -->
  <form use:enhance method="POST" action="?/{action}">
    <h1>{title}</h1>
    <Input label="Username:" name="username" required/>
    <Input label="Password:" name="password" type="password" required />
    <Button submit={true} height="34px" width="120px">{title}</Button>
  </form>
  <br />
  <slot />
  <br />
  <p>Or you can always return on <a href="/">Homepage</a></p>
</div>

{#if form?.visible}
  <Message onClose={messageClose} error={form?.error}>
    <span>{form?.message}</span>
  </Message>
{/if}

<style lang="scss">
  * {
    box-sizing: border-box;
  }

  h1 {
    color: $color-very-dark-blue;
  }

  .form {
    width: 500px;
    height: auto;
    background-color: $color-light-grey;
    padding: 40px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
</style>
