<script lang="ts">
  /**Method used on submit*/
  export let method = "";
  /**Action triggered on submit*/
  export let action = "";
</script>
<!-- @component
This component creates a form with specified styling
- option to add method and action
 -->

<form on:submit method="{method}" action={action}>
  <slot />
</form>

<style>
  form {
    display: flex;
    flex-direction: column;
    min-width: 300px;
  }

  :global(form > div) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  :global(form > div + *) {
    margin-top: 10px;
  }
</style>
