<script lang="ts">
  /**Type of the input, accepted values: text, password, number, date, color*/
  export let type: 'text' | 'password' | 'number' | 'date' | 'color' = 'text';
  /**Width of the input (default=100%)*/
  export let width = '100%';
  /**Placeholder of the input*/
  export let placeholder = '';
  /**Variable to bind the input with*/
  export let value = '';
  /**Text of the label for the input*/
  export let label: string | undefined;
  /**True if the input field is required*/
  export let required: boolean = false;
  /**Name and id of the input*/
  export let name: string = '';
</script>

<!-- @component
This component creates styled input with label and placeholder
- option to specify type
- option to make the input required
 -->
<div class="input" style="--input-width: {width}">
  {#if label}
    <label for={name}>{label}</label>
  {/if}

  {#if type === 'password'}
    <input type="password" {placeholder} bind:value {name} id={name} {required} />
  {:else if type === 'number'}
    <input type="number" {placeholder} bind:value {name} id={name} {required} />
  {:else if type === 'date'}
    <input type="date" {placeholder} bind:value {name} id={name} {required} />
  {:else if type === 'color'}
    <input type="color" {placeholder} bind:value {name} id={name} {required} />
  {:else if type === 'text'}
    <input type="text" {placeholder} bind:value {name} id={name} {required} />
  {:else}
    <p style="color: red">This is not a valid input type</p>
  {/if}
</div>

<style lang="scss">
  .input {
    width: 100%;
    margin-top: 16px;
    position: relative;
    label {
      width: 100%;
      display: block;
      margin-bottom: 4px;
      color: $color-bluish-grey;
      font-size: 13px;
    }
    input {
      width: 100%;
      height: 35px;
      font-size: 16px;
      border: 1px solid $color-light-grey-2;
      border-radius: 8px;
      background-color: $color-lightest-grey;
      padding: 0 24px;
      margin: 0 auto 10px;
      &::placeholder {
        font-size: 16px;
        font-weight: 400;
        color: $color-bluish-grey;
      }
      &:focus {
        outline: none;
        box-shadow: none;
        border: 2px solid $color-very-dark-blue;
      }
    }
  }
</style>
