<script lang="ts">
  import Icon from '$components/elements/Icon.svelte';
  import { fade } from 'svelte/transition';

  /**Function which handles close click*/
  export let onClose = () => {};
  /**Changes background color of the message*/
  export let error:boolean = false;
</script>
<!-- @component
This component is used for creating closable message for user in the lower leftcorner
 -->
  <div
    class="message" class:message--error={error}>
    <slot/>
    <span on:click={onClose} on:keypress transition:fade={{ duration: 200 }} class="message__close">
        <Icon icon="cross" hoverColor="#FF0000" on:click />
      </span>
  </div>

<style lang="scss">
  .message {
    background-color: $color-green; //TODO: change color
    padding: 20px;
    border-radius: 8px;
    display: flex;
    position: absolute;
    bottom:5px;
    right: 5px;

    &--error{
      background-color: $color-red;
    }

    &__close{
        position: relative;
        top: -10px;
        right: -10px;
        &:hover {
            cursor: pointer;
        }
    }
  }
</style>
