<script lang="ts">
  import { fade } from 'svelte/transition';
  import Icon from '$components/elements/Icon.svelte';
  /**Width of the window in px*/
  export let width: number = 500;
  /**Height of the window in px*/
  export let height: number = 400;
  /**Function which handles close click*/
  export let toggle = () => {};
</script>

<!-- @component
This component creates an overlayed window in the middle of the viewport of specified dimensions
- used for displaying edit menus to the user
- it's better to combine it with click-outside function
 -->

<div class="overlayWindow" style="--width: {width}px;--height:{height}px">
  <span
    class="overlayWindow__close"
    on:click={toggle}
    on:keypress
    transition:fade={{ duration: 200 }}
  >
    <Icon icon="cross" hoverColor="#FF0000" on:click />
  </span>
  <slot />
</div>

<style lang="scss">
  .overlayWindow {
    display: block;
    position: fixed;
    padding: 20px;
    left: calc(50vw - var(--width) / 2);
    top: calc(50vh - var(--height) / 2);
    z-index: 10;
    background-color: $color-light-grey;
    border-radius: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color-very-dark-blue;

    &__close {
      position: absolute;
      right: 3px;
      top: 3px;
      &:hover {
        cursor: pointer;
      }
    }
  }
</style>
