<script lang="ts">
  import { fade } from 'svelte/transition';
  import Icon from '$components/elements/Icon.svelte';

  /**Background color of the tag*/
  export let color: string = '#345bfb';
  /**If deletable - on hover: cross icon will appear and tag will become slightly transparent*/
  export let deletable:boolean = true;
  let deleteButtonVisible: boolean = false;

  function toggleVisibility() {
    deleteButtonVisible = !deleteButtonVisible;
  }
</script>
<!-- @component
This component displays tag (inputed as slot)
- each tag has its own color (displayed in background)
 -->

<div
  class="tag"
  style="--color: {color}"
  on:mouseenter={toggleVisibility}
  on:mouseleave={toggleVisibility}
>
  <slot />
  {#if deletable && deleteButtonVisible}
    <span on:click on:keypress class="delete" class:tag__deletable={deletable} transition:fade={{ duration: 200 }}>
      <Icon icon="cross" size={14} color="#000" />
    </span>
  {/if}
</div>

<style lang="scss">
  .tag {
    height: 20px;
    border-radius: 8px;
    background-color: var(--color);
    position: relative;
    font-weight: 500;
    font-size: 13px;
    width: auto;
    height: auto;
    padding: 5px 15px 2px 6px;
    &:hover {
      cursor: pointer;
    }
    &__deletable{
      &:hover{
        opacity: 0.7;
      }
    }
  }
  .delete {
    position: absolute;
    top: 3px;
    right: 3px;
  }
</style>
