<script lang="ts">
  import Tag from '$components/elements/Tag.svelte';
  import type { TagObject } from '$src/lib/scripts/other';

  /**Array of tags which should be displayed*/
  export let tags: TagObject[] = [];
  /**Handles tag click - deletion*/
  export let removeTagFromDB = (tagToRemove: TagObject, assign: boolean) => {};
</script>

<!-- @component
This component forms an area where tags are displayed
- handles tag click
 -->
<div class="tag-area">
  {#each tags as tag}
    <span on:click={() => removeTagFromDB(tag, false)} on:keydown={() => removeTagFromDB(tag, false)}>
      <Tag color={tag.color}>{tag.name}</Tag>
    </span>
  {/each}
</div>

<style lang="scss">
  .tag-area {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: left;
    gap: 8px;
    margin: 4px;
  }
</style>
