<script lang="ts">
  import { getUser } from '@lucia-auth/sveltekit/client';
  import type { TagObject } from '$src/lib/scripts/other';
  import Form from '$components/elements/Form.svelte';
  import Input from '$components/elements/Input.svelte';
  import Button from '$components/elements/Button.svelte';

  const user = getUser();
  const userId = $user?.userId;

  /**Tag which is being edited*/
  export let tag: TagObject;
  const name = tag.name
  /**Executed after tag is edited -> typically used for fetching tags from db*/
  export let doAfter = (tagId: number) => {};
  /**Toggles edit window visibility*/
  export let toggle = ()=> {};
  /**Creates PUT api request to edit tag*/
  async function editTag() {
    const url: string = `/api/user/${userId}/tags`;
    const response = await fetch(url, {
      method: 'PUT',
      body: JSON.stringify({
        id: tag.id,
        name: tag.name,
        color: tag.color
      })
    });
    if(response.ok){
      toggle()
      doAfter(tag.id)
    }
  }
</script>
<!-- @component
This component creates form for tag editing
 -->

<div>
<h1>Edit tag: {name}</h1>
  <Form on:submit={editTag}>
    <Input label="Tag name:" bind:value={tag.name} required={true} />
    <Input type="color" label="Tag color:" bind:value={tag.color} required={true} />
    <div>
      <Button submit={true}>Edit</Button>
      <Button on:click={toggle}>Cancel</Button>
    </div>
  </Form>
</div>
