<script lang="ts">
  import { getUser } from '@lucia-auth/sveltekit/client';
  import type { TagObject } from '$src/lib/scripts/other';
  import OverlayWindow from '$components/elements/OverlayWindow.svelte';
  import TagEdit from '$components/elements/TagEdit.svelte';
  import { clickOutside } from '$lib/scripts/frontendActions';
  import CloseEdit from '$components/elements/CloseEdit.svelte';

  /**Tag to display - its color is displayed as background color*/
  export let tag: TagObject;
  /**Function which fetches all user tags - called after tag edit or tag creation*/
  export let fetchTags = () => {};
  const user = getUser();
  const userId = $user?.userId;

  $: color = tag.color ? tag.color : '#ececec';
  let editingTag = false;

  function toggleEditWindow() {
    editingTag = !editingTag;
  }

  /**Makes DELETE API request to delete this tag*/
  async function deleteTag() {
    const url: string = `/api/user/${userId}/tags`;
    const response = await fetch(url, {
      method: 'DELETE',
      body: JSON.stringify({
        id: tag.id
      })
    });
    if (response.ok) {
      fetchTags();
    }
  }
</script>
<!-- @component
This component displays tag
- button to edit
- button to delete
- background color matches the tag color
 -->

<div class="tag-menu" style="background-color: {color}">
  <span>{tag.name}</span>
  <CloseEdit onClose={deleteTag} onEdit={toggleEditWindow} />
</div>

{#if editingTag}
  <!-- Out click is triggered when clicked anywhere apart from OverlayWindow -->
  <div use:clickOutside on:outclick={() => toggleEditWindow()}>
    <OverlayWindow toggle={toggleEditWindow}>
      <TagEdit {tag} doAfter={fetchTags} toggle={toggleEditWindow} />
    </OverlayWindow>
  </div>
{/if}

<style lang="scss">
  .tag-menu {
    display: flex;
    min-height: 26px;
    padding: 2px;
    padding-right: 8px;
    border-radius: 4px;
    position: relative;
  }
</style>
