<script lang="ts">
  import { getUser } from '@lucia-auth/sveltekit/client';
  import type { TagObject } from '$src/lib/scripts/other';
  import TagMenu from '$components/elements/TagMenu.svelte';
  import Form from '$components/elements/Form.svelte';
  import Input from '$components/elements/Input.svelte';
  import Button from '$components/elements/Button.svelte';
  import Container from '$components/elements/Container.svelte';

  const user = getUser();
  const userId = $user?.userId;
  /**Function which fethces tags from db*/
  export let fetchTags = () => {};
  /**Array of all user tags*/
  export let tags: TagObject[];

  let newTag = '';
  let newColor = '#ececec';

  /**Creates POST API request to create a new tag*/
  async function createTag() {
    const url: string = `/api/user/${userId}/tags`; //api url
    const response = await fetch(url, {
      method: 'POST',
      body: JSON.stringify({ name: newTag, color: newColor })
    });
    if (response.ok) {
      newTag = '';
      newColor = '#ececec';
      fetchTags();
    }
  }
</script>

<!-- @component
This component manages tags
- display all user tags
- includes form for tag creation
 -->

<Container backgroundColor="#f5f5f5">
  <div class="manager">
    <h2 class="manager__title">Tag Manager:</h2>
    <div class="manager__items">
      {#each tags as tag (tag.id)}
        <TagMenu {tag} {fetchTags} />
      {/each}
    </div>
    <br />
    <Container>
      <Form on:submit={createTag}>
        <h3>Create a new tag</h3>
        <Input label="Tag name:" bind:value={newTag} required={true} />
        <Input type="color" label="Tag color:" bind:value={newColor} required={true} />
        <Button submit={true}>Create</Button>
      </Form>
    </Container>
  </div>
</Container>

<style lang="scss">
  .manager {
    &__title {
      margin-bottom: 10px;
    }
    &__items {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }
  h2,
  h3 {
    color: $color-very-dark-blue;
  }
</style>
