<script lang="ts">
  import { getUser } from '@lucia-auth/sveltekit/client';
  import { onMount } from 'svelte';
  import type { TagObject, TransactionObject } from '$src/lib/scripts/other';
  import Transaction from '$components/elements/Transaction.svelte';
  import Form from '$components/elements/Form.svelte';
  import Input from '$components/elements/Input.svelte';
  import Button from '$components/elements/Button.svelte';
  import Container from '$components/elements/Container.svelte';

  const user = getUser();
  const userId = $user?.userId;
  /**Array of all user transactions*/
  let transactions: TransactionObject[] = [];
  /**Array of all user tags*/
  export let possibleUserTags: TagObject[];
  /**Object used for new transaction creation*/
  let newTransaction: TransactionObject = {
    id: -1,
    account_number: '',
    due_date: new Date(),
    amount: -1,
    currency: '',
    balance: -1,
    counter_account: '',
    counter_account_bank_code: '',
    counter_account_name: '',
    constant_symbol: '',
    variable_symbol: '',
    specific_symbol: '',
    transaction_type: '',
    note: '',
    original_transaction: '',
    rate: '',
    E2E_Identification: '',
    original_payer: '',
    the_final_beneficiary: '',
    owner_id: userId
  };

  onMount(() => {
    fetchTransactions();
  });
  /**Makes GET API request to fetch the current transaction -> used for updates*/
  async function fetchTransactions() {
    const url: string = `/api/user/${userId}/transactions`; //api url
    const response = await fetch(url);
    if (response.ok) {
      transactions = await response.json();
    }
  }
  /**Makes POST API request to create a new transaction*/
  async function createTransaction() {
    const url: string = `/api/user/${userId}/transactions`;
    const response = await fetch(url, {
      method: 'POST',
      body: JSON.stringify(newTransaction)
    });
    if (response.ok) {
      fetchTransactions();
      newTransaction.id = -1;
      newTransaction.counter_account = '';
      newTransaction.amount = -1;
      newTransaction.due_date = new Date();
      newTransaction.counter_account_name = '';
      newTransaction.note = '';
    }
  }
</script>

<!-- @component
This component displays all user's transactions
- contains form for new transaction creation
 -->

<Container backgroundColor="#f5f5f5">
  <h2 class="manager__title">Transaction Manager:</h2>
  <div class="manager__items">
    <Container>
      <h3>Create a new transaction:</h3>
      <Form on:submit={createTransaction}>
        <Input
          type="number"
          label="Transaction amount:"
          bind:value={newTransaction.amount}
          required={true}
        />
        <Input
          label="Counter account:"
          bind:value={newTransaction.counter_account}
          required={true}
        />
        <Input label="Counter account name:" bind:value={newTransaction.counter_account_name} />
        <Input label="Date:" type="date" bind:value={newTransaction.due_date} />
        <Input label="Note:" bind:value={newTransaction.note} />
        <Button submit={true}>Create</Button>
      </Form>
    </Container>
    {#each transactions as transaction}
      <Transaction {transaction} {possibleUserTags} />
    {/each}
  </div>
</Container>

<style lang="scss">
  .manager {
    &__title {
      margin-bottom: 10px;
    }

    &__items {
      gap: 10px;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
      // flex-wrap: wrap;
      margin: 4px;
    }
  }

  h2,
  h3 {
    color: $color-very-dark-blue;
  }
</style>
