<script lang="ts">
  import type { TagObject, TransactionObject } from '$src/lib/scripts/other';
  import { compareTagsArray } from '$src/lib/scripts/other';
  import { clickOutside } from '$lib/scripts/frontendActions';
  import Dropdown from '$components/elements/Dropdown.svelte';
  import TagArea from '$components/elements/TagArea.svelte';
  import OverlayWindow from '$components/elements/OverlayWindow.svelte';
  import TransactionEdit from '$components/elements/TransactionEdit.svelte';
  import CloseEdit from '$components/elements/CloseEdit.svelte';
  /**Current transaction*/
  export let transaction: TransactionObject;
  /**Array of all user tags*/
  export let possibleUserTags: TagObject[];
  /**Array of all transaction tags*/
  let tags: TagObject[];
  /**Array of all tags possible to assign to the transaction (possibleTagsToAdd = possibleUserTags - tags)*/
  let possibleTagsToAdd: TagObject[];
  let editingTransaction: boolean = false;
  /**used as reference when removing element from DOM*/
  let nodeRef: HTMLElement;
  let expense: boolean;
  $: expense = transaction.amount < 0 ? true : false;
  $: {
    tags = possibleUserTags.filter(({ id }) =>
      transaction.tags.map((tag) => tag.tagId).includes(id)
    );
    possibleTagsToAdd = compareTagsArray(possibleUserTags, tags);
  }

  function toggleEditWindow() {
    editingTransaction = !editingTransaction;
  }

  /**Makes a PUT API request to create n to n connection between the current transaction and chosen tag*/
  async function tagAssignment(tag: TagObject, assign: Boolean) {
    const url: string = `/api/transaction/${transaction.id}/tags`;
    const response = await fetch(url, {
      method: 'PUT',
      body: JSON.stringify({ tagId: tag.id, assign })
    });
    if (response.ok) {
      fetchItself();
    }
  }
  /**Makes a GET API request to fetch the current transaction -> used for updates*/
  async function fetchItself() {
    const url: string = `/api/transaction/${transaction.id}`;
    const response = await fetch(url);
    if (response.ok) {
      transaction = await response.json();
    }
  }
  /**Makes a DELETE API request to delete the current transaction*/
  async function deleteTransaction() {
    const url: string = `/api/transaction/${transaction.id}`;
    const response = await fetch(url, {
      method: 'DELETE'
    });
    if (response.ok) {
      //removes the transaction on frontend
      nodeRef.parentNode.removeChild(nodeRef);
    }
  }
</script>

<!-- @component
Displays the current transaction
- amount, currency, date, counter_account, counter_account_name

Other features:
- delete button
- edit button
 -->

<div bind:this={nodeRef} class="transaction">
  <CloseEdit onClose={deleteTransaction} onEdit={toggleEditWindow} />
  <div class="transaction__header {expense && 'transaction__header--expense'}">
    <span>{transaction.amount}</span>
    <span>{transaction.currency}</span>
  </div>
  <div>{new Date(transaction.due_date).toDateString()}</div>
  <div class="transaction__tags">
    <TagArea {tags} removeTagFromDB={tagAssignment} />
    <Dropdown items={possibleTagsToAdd} doAfterSelect={tagAssignment} />
  </div>
  <div class="transaction__account_details">
    <div class="transaction__account_details--split">
      <span>Counter account name:</span>
      <span
        >{transaction.counter_account_name
          ? transaction.counter_account_name
          : 'Not specified'}</span
      >
    </div>
    <div class="transaction__account_details--split">
      <span>Counter account number:</span>
      <span>{transaction.counter_account ? transaction.counter_account : 'Not specified'}</span>
    </div>
  </div>
  <span><em>{transaction.note}</em></span>
</div>

{#if editingTransaction}
  <div use:clickOutside on:outclick={() => toggleEditWindow()}>
    <OverlayWindow toggle={toggleEditWindow} height={700}>
      <TransactionEdit {transaction} doAfter={fetchItself} toggle={toggleEditWindow} />
    </OverlayWindow>
  </div>
{/if}

<style lang="scss">
  .transaction {
    background-color: $color-light-blue;
    border-radius: 8px;
    padding: 15px;
    position: relative;
    max-width: 500px;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    &__header {
      font-size: 20px;
      color: $color-green;
      &--expense {
        color: $color-red;
      }
    }
    &__tags {
      display: flex;
      padding-bottom: 5px;
    }
    &__account_details {
      display: flex;
      flex-direction: column;
      &--split {
        display: flex;
        justify-content: space-between;
        gap: 10px;
      }
      &__name {
        margin-right: 5px;
      }
    }
  }
</style>
