<script lang="ts">
  import  { stringToDate, type TransactionObject } from '$src/lib/scripts/other';
  import Form from '$components/elements/Form.svelte';
  import Input from '$components/elements/Input.svelte';
  import Button from '$components/elements/Button.svelte';

  /**Transaction to edit*/
  export let transaction: TransactionObject;
  transaction.amount = Number(transaction.amount); //explicitely converting to number
  transaction.due_date = new Date(stringToDate(transaction.due_date));
  export let doAfter = (tagId: number) => {};
  export let toggle = () => {};

  async function editTransaction() {
    const url: string = `/api/transaction/${transaction.id}`;
    const response = await fetch(url, {
      method: 'PUT',
      body: JSON.stringify({
        id: transaction.id,
        amount: transaction.amount,
        counter_account: transaction.counter_account,
        counter_account_name: transaction.counter_account_name,
        due_date: new Date(transaction.due_date),
        note: transaction.note
      })
    });
    if (response.ok) {
      toggle();
      doAfter(transaction.id);
    }
  }
</script>

<div>
  <h1>Edit transaction: {transaction.amount} {transaction.currency}</h1>
  <Form on:submit={editTransaction}>
    <Input
      type="number"
      label="Transaction amount:"
      bind:value={transaction.amount}
      required={true}
    />
    <Input label="Counter account:" bind:value={transaction.counter_account} required={true} />
    <Input label="Counter account name:" bind:value={transaction.counter_account_name} />
    <Input label="Date:" type="date" bind:value={transaction.due_date} />
    <Input label="Note:" bind:value={transaction.note} />
    <div>
      <Button submit={true}>Edit</Button>
      <Button on:click={toggle}>Cancel</Button>
    </div>
  </Form>
</div>
