<script lang="ts">
  import { getUser } from '@lucia-auth/sveltekit/client';
  import { onMount } from 'svelte';
  import type { PageData } from './$types';
  import type { TagObject, TransactionObject } from '$src/lib/scripts/other';
  import * as chart from '$lib/scripts/charts';
  import ChartLoader from '$components/elements/ChartLoader.svelte';
  import Container from '$components/elements/Container.svelte';

  export let data: PageData;
  const user = getUser();
  const userId = $user?.userId;

  const removeLegend = {
    plugins: {
      legend: {
        display: false
      }
    }
  };
  const weekDayOptions = {
    plugins: {
      legend: {
        display: false
      },
      colors: {
        forceOverride: true
      }
    }
  };

  onMount(() => {
    fetchTags();
  });

  let possibleUserTags: TagObject[];

  let chartIncomeExpenseData = chart.createDoughnutData(data.transactions);
  let chartIncomeExpenseByTagData;
  let chartSumByTagData;
  let chartMonthSequenceData = chart.createLineData(data.transactions);
  let chartWeekdayBalance = chart.createWeekdaySpendingData(data.transactions, false, false);
  let chartWeekdayExpense = chart.createWeekdaySpendingData(data.transactions, true, true);
  let chartWeekdayIncome = chart.createWeekdaySpendingData(data.transactions, true, false);

  /**
   * Fetches user tags using GET API
   */
  async function fetchTags() {
    const url: string = `/api/user/${userId}/tags`;
    const response = await fetch(url);
    if (response.ok) {
      possibleUserTags = await response.json();
      chartIncomeExpenseByTagData = getChartIncomeExpenseByTagData(possibleUserTags);
      chartSumByTagData = getChartSumByTagData(possibleUserTags);
    }
  }
  /**
   * Fetches all transactions which are connected with the given tag
   * @param tagId - id of tag whose transactions are needed
   */
  async function fetchTransactionsByTag(tagId: number) {
    const url: string = `/api/tag/${tagId}/transactions`;
    const response = await fetch(url);
    if (response.ok) {
      const transactions = await response.json();
      return transactions;
    }
  }
  /**
   * Uses fetchTransactionsByTag() to fetch transactions of each tag, afterwards radarData is created using tagsIncomeExpenseRatio
   * @param tags - array of all user tags
   */
  async function getChartIncomeExpenseByTagData(tags: TagObject[]) {
    let promises: any[] = [];
    tags.forEach((tag) => {
      promises.push(fetchTransactionsByTag(tag.id));
    });
    return Promise.all(promises)
      .then((transactionsByTagArray) => {
        return chart.tagsIncomeExpenseRatio(transactionsByTagArray, tags);
      })
      .catch((error) => console.error('Failed to read data due to: ', error));
  }
  /**
   * Uses fetchTransactionsByTag() to fetch transactions of each tag
   * Afterwards each transactionsByTagArray is summed and createTagBalanceData() is used to create bar chart data
   * @param tags
   */
  async function getChartSumByTagData(tags: TagObject[]) {
    let promises: any[] = [];
    tags.forEach((tag) => {
      promises.push(fetchTransactionsByTag(tag.id));
    });
    return Promise.all(promises)
      .then((value) => {
        let data: number[] = [];
        value.forEach((transactionByTagArray) => {
          data.push(
            // sums each transaction by tag array
            transactionByTagArray.reduce(
              (accumulator: number, transaction: TransactionObject) =>
                accumulator + transaction.amount,
              0
            )
          );
        });
        return chart.createTagBalanceData(data, tags);
      })
      .catch((error) => console.error('Failed to read data due to: ', error));
  }
</script>

<Container>
  <div class="charts">
    <h1>Analyze your transactions</h1>
    <div class="charts__group">
      <ChartLoader
        chartData={chartIncomeExpenseData}
        chartType="doughnut"
        title="Overall income vs expense"
      />
      <div class="charts__group--longer">
        <ChartLoader
          chartData={chartMonthSequenceData}
          chartType="line"
          title="Balance by month"
          options={removeLegend}
        />
      </div>
    </div>

    <div class="charts__group">
      <ChartLoader
        chartData={chartIncomeExpenseByTagData}
        chartType="radar"
        title="Income-Expense by tag"
      />
      <div class="charts__group--longer">
        <ChartLoader chartData={chartSumByTagData} chartType="bar" title="Sum by tag" />
      </div>
    </div>

    <div class="charts__group">
      <ChartLoader
        chartData={chartWeekdayBalance}
        chartType="bar"
        title="Weekday Balance"
        options={weekDayOptions}
      />
      <ChartLoader
        chartData={chartWeekdayIncome}
        chartType="bar"
        title="Weekday Income"
        options={weekDayOptions}
      />
      <ChartLoader
        chartData={chartWeekdayExpense}
        chartType="bar"
        title="Weekday Expense"
        options={weekDayOptions}
      />
    </div>
  </div>
</Container>

<style lang="scss">
  .charts {
    display: flex;
    flex-direction: column;
    gap: 30px;

    &__group {
      display: grid;
      width: 100%;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 30px;
      &--longer {
        grid-column-end: span 2;
      }
    }
  }
  h1 {
    color: $color-very-dark-blue;
  }
</style>
